<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1><%= recipe.name %></h1>
    <div>
      <% recipe.flower.forEach(flower => { %>
      <div>
        <img
          class="recipe-image"
          src="<%= flower.image_url %>"
          alt="<%= flower.name %>"
        />
        <a class="flower-link" href="/flower-library/<%= flower._id %>">
          <%= flower.name %>
        </a>
        <form action="/recipe/<%= recipe._id %>?_method=DELETE" method="POST">
          <input type="hidden" name="flowerId" value="<%= flower._id %>" />
          <button class="delete-flower-button" type="submit">Remove</button>
        </form>
      </div>
      <% }) %>
    </div>
  </body>
</html>
