<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1><%= recipe.name %></h1>

    <div class="grid-container">
      <% recipe.flower.forEach(flower => { %>
      <div class="recipe-item" draggable="true" data-id="<%= flower._id %>">
        <img
          class="recipe-image"
          src="<%= flower.image_url %>"
          alt="<%= flower.name %>"
        />
        <div class="flower-info">
          <a class="flower-link" href="/flower-library/<%= flower._id %>">
            <%= flower.name %>
          </a>
          <form action="/recipe/<%= recipe._id %>?_method=DELETE" method="POST">
            <input type="hidden" name="flowerId" value="<%= flower._id %>" />
            <button class="delete-flower-button" type="submit">Remove</button>
          </form>
        </div>
      </div>
      <% }) %>
    </div>
    <div class="recipe-notes-section">
      <h3>Notes:</h3>
      <ul>
        <% recipe.notes.forEach(note => { %>
        <li><%= note.content %></li>

        <form
          action="/recipe-library/<%= recipe._id %>/notes/<%= note._id %>?_method=DELETE"
          method="POST"
        >
          <button class="recipe-delete-note" type="submit">Delete Note</button>
        </form>
        <% }) %>
      </ul>
      <form
        class="notes-form"
        action="/recipe-library/<%=recipe._id%>/notes"
        method="POST"
      >
        <label for="notes">Notes:</label>
        <input type="text" name="content" id="content" required />
        <button class="note-button" type="submit">Post</button>
      </form>
    </div>
  </body>
</html>
