<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Flower Profile</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1><%= flower.name %></h1>
    <h2>( <%= flower.scientific_name %> )</h2>
    <img
      class="profile-image"
      src="<%= flower.image_url %>"
      alt="<%= flower.name %>"
    />
    <p>Season: <%= flower.season %></p>
    <p>Colour: <%= flower.color %></p>
    <h3>Comments</h3>
    <ul>
      <% flower.comments.forEach(comment => { %>
      <li><%= comment.content %></li>

      <!-- if the user posted the comment, display a delete button -->
      <% if (user && comment.user.toString() === user._id.toString()) { %>
      <form
        action="/flower-library/<%= flower._id %>/comments/<%= comment._id %>?_method=DELETE"
        method="POST"
      >
        <button type="submit">Delete Comment</button>
      </form>
      <% } %> <% }) %>
    </ul>
    <!-- check if user is logged in -->
    <% if (user) { %>
    <form
      class="comments-form"
      action="/flower-library/<%=flower._id%>/comments"
      method="POST"
    >
      <label for="comments">Comments:</label>
      <input type="text" name="content" id="content" />
      <button class="form-button" type="submit">Post</button>
    </form>

    <form action="/flower-library/<%=flower._id%>/add-flower" method="POST">
      <label for="choose-recipe">Add to Recipe:</label>
      <select name="recipe" id="recipe" required>
        <option value="" disabled selected>-- Select Recipe --</option>
        <option value="Recipe1">Recipe 1</option>
        <option value="Recipe2">Recipe 2</option>
        <option value="Recipe3">Recipe 3</option>
        <option value="Recipe4">Recipe 4</option>
      </select>
      <button type="submit">Add</button>
    </form>

    <form action="/flower-library/<%=flower._id%>?_method=DELETE" method="POST">
      <button class="delete-flower-button" type="submit">
        Delete <%= flower.name %>
      </button>
    </form>

    <!-- Link to take us to the new edit page at /flower/update/:id -->
    <a class="update-flower-link" href="/flower-library/update/<%=flower._id%>"
      >Update flower</a
    >

    <% } %>
  </body>
</html>
